<!DOCTYPE html>
<html lang="en">
  <head>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='js/run_tests.js') }}"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

  </head>

  <body>
    <center>
      <div class="container-fluid center-block">
      <div class="center-block">
        <div class="center-block main" style="max-width:500px;">
          <h1>Infection</h1><br>
          <p class="lead">A/B Testing Simulator</p>
          {% if coaches != [] %}
          <label>{{ num_infected }} Users Infected</label><br>
          <div class="list-group">
          {% for coach in coaches %}
            {% if coach.infected %}
              <a href="/coach/{{ coach.id }}/" class="list-group-item" style="color:red;">User (coach) </a>
            {% else %}
              <a href="/coach/{{ coach.id }}/" class="list-group-item" >User (coach) </a>
            {% endif %}
          {% endfor %}
        </div><br>
        <button class="btn btn-success total_infection">Infect All</button>
        <button class="btn btn-success disinfect">Disinfect All</button>
        <br>
        <br>
        <button class="btn btn-danger clear">Clear Users</button>
        <br>

        {% else %}
        <button class="btn btn-success make_users">Generate fake users</button>
        {% endif %}
        <br>
          <div class="container">
          </div>
        </div>
      </div>
    </div>
  </center>


  </body>

</html>