<!DOCTYPE html>
<html lang="en">
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='js/data.js') }}"></script>
    <script src="{{ url_for('static', filename='js/template.js') }}"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

    <style>
    table,
    thead,
    tr,
    tbody,
    th,
    td {
        text-align: center;
    }
    .thumbnail {
      margin-top: 15px;
    }
    .social {
      max-width: 25px;
    }

    </style>
  </head>

  <body>
    <center>
      {% if nope %}
      <h3>{{ company }} does not have enough of a social media presence</h3>
      <a href='/'><button class="btn btn-success btn-lg">Search Again</button></a>
      {% else %}
        <h1>{{ details.name }}</h1>
      {% if details.logo_url %}
      <img src="{{ details.logo_url }}"><br>
      {% else %}
      <img src="{{ details.twitter_logo_url }}"><br>
      {% endif %}
      <p class="lead">{{about}}</p><br>
      <table class="table">
        <tr>
          <th>Twitter Followers</th>
          <th>Tweets</th>
          <th>Facebook Likes</th>
          <th>Talking About</th>
          <th>Posts</th>
        </tr>
        <tr>
          <td>{{ details.twitter_followers }}</td>
          <td>{{ details.twitter_posts }}</td>
          <td>{{ details.fb_likes }}</td>
          <td>{{ details.fb_talking_about }}</td>
          <td>{{ details.linked_in_shares }}</td>
        </tr>
      </table><br>
      {% if news %}
      <ul class="list-group" style="width:60%;">
          <label>Recent News:</label>
        {% for story in news %}
          <li class="list-group-item"><a href="{{story.url}}">{{story.title}}</a></li>
        {% endfor %}
      </ul>
      {% endif %}

      <a href='/'><button class="btn btn-success btn-lg">Search Again</button></a><br><br>

      {% endif %}
  </center>

  </body>

</html>